
@{
    ViewData["Title"] = "UrunListeleK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http;

@model List<CategoryList>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>

    <script type="text/javascript">
     $(document).ready(function () {
         $(".productid").click(function (e) { 
             var id = $(this).attr("id");
    e.preventDefault();
    $.ajax({
        url:'/List/SepeteEkle?ProductID='+ id, 
        success: function () {
            alert("Sepete Eklendi!");
        }
    });

});
             });
        </script>
   </head>

@{ string username = "";
    if (Context.Session.GetString("Username") != null)
    {
        username = Context.Session.GetString("Username");

        <h2>Ürünlerimiz</h2>
        <table class="table table-responsive">
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td> <img style="width=120px" height="120px" src="@product.ProductUrl"></td>
                        <td>
                            <div>
                                <p style="font-size:x-large">@product.ProductName</p>
                                <p style="font-size:large">Fiyatı:     @product.ProductPrice ₺</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a href="@Url.Action("SepeteEkle","List",new {ProductID =product.ProductID })" id="@product.ProductID" style="padding:10px" class="btn btn-success  productid"><i class="fa fa-shopping-cart"></i> Sepete Ekle <p  id="hiddenid" hidden>@product.ProductID</p> </a>
                                <form asp-controller="List" asp-action="UrunIncele" method="post">
                                    <input type="text" hidden name="ProductID" value="@product.ProductID" />
                                    <button style="padding:10px; margin-top:10px"  class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> İncele  </button>
                                </form>
                               
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
       
    }
    else
    {
        username = "Kullanıcı Bulunamadı.";
        <div class="alert alert-warning">
            <strong>Üzgünüm :( </strong> Bu sayfayı yalnızsa kullanıcılarımız görebilir. Görmek için lütfen giriş yapın.,
            <button class="btn btn-default" asp-action="HomePage" asp-controller="Home">Anasayfaya Dön</button>
        </div>
    }
}
